    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .header {
        display: flex;
        align-items: center;
        height: 68px;
        width: 1452px;
        /* border-bottom: 1px solid #000; */
    }
    
    .header__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 45px;
    }
    
    .header__menu {
        width: 500px;
    }
    
    .header__menu-form {
        display: flex;
    }
    
    .header__menu-form div {
        margin-right: 20px;
    }
    
    .header__menu-item:hover {
        color: rgb(0, 189, 214);
        border-bottom: 3px solid rgb(0, 189, 214);
    }
    
    .header__search {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        width: 338px;
        height: 35px;
        background-color: rgb(243, 244, 246);
        border-radius: 3px;
    }
    
    .header__search input {
        width: 300px;
        height: 35px;
        background-color: rgb(243, 244, 246);
        outline: none;
        border: none;
        padding: 10px;
        opacity: 0.6;
    }
    
    .header__option {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header__option i {
        margin-right: 20px;
    }
    
    .header__option i {
        font-size: 24px;
    }
    
    .main1 {
        width: 1192px;
        margin-top: 50px;
    }
    
    .main1__menu {
        display: flex;
    }
    
    .ti-star {
        color: rgb(243, 189, 63);
    }
    
    .main1__menu-icon-text1 {
        font-weight: 900;
    }
    
    .main1__menu-icon-text2 {
        opacity: 0.6;
    }
    
    .main1__menu-icon {
        display: flex;
        justify-content: space-between;
    }
    
    .main1__menu-icon-form2 i {
        margin-right: 20px;
    }
    
    .main1__menu-header {
        font-size: 25px;
    }
    
    .main1__slide {
        display: flex;
    }
    
    .main2 {
        display: flex;
        width: 1192px;
    }
    
    .main2__left {
        width: 830px;
        height: 380px;
    }
    
    .main2__right {
        width: 300px;
        height: 390px;
    }
    
    .main3 {
        height: 400px;
        width: 1192px;
    }
    
    .main4 {
        height: 512px;
    }

    /* main 5 */
    .main5{
        display: flex;
        flex-direction: column;
       text-align: center;
        align-items: center;
        width: 1192px;
    }
    .main5__form{
    
    }
    .main5__form-img{
    
    }
    .main5__form-title{
    
    }
    .main5__form-input{
    
    }
    .form-input{
    
    }
    
    .main5__info{
        display: flex;
        ali
    }
    .main5__info-list{
    
    }